body {
    text-align: center;
}

h1 {
    margin: 10%;
    font-size: 50px;
}

div {
    width: 600px;
    height: auto;
    padding: 30px;
    margin: 5% auto;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #b0b0b0;
}

div img {
    width: 500px;
    height: auto;
}

div p {
    text-align: left;
    font-size: 14px;
}

div a {
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

div a:hover {
    color: white;
    background-color: black;
}